.mainWindow {
    -fx-pref-height: 1010;
    -fx-pref-width: 1920;


    -fx-background-color: grey;
}

.menuItemText {
    -fx-transition: 1.5s ease;
    -fx-font-family: "Bell MT", sans-serif;
    -fx-font-size: 43;
}

.menuItemText:hover {
    -fx-fill: lightblue;
    -fx-font-family: "Bell MT", sans-serif;
    -fx-font-size: 43;
}